@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Library Management Site</h1>
</div>
<div id="loginForm" class="roundDiv">
    <form method="post">
        <p id="loginFormText" class="display-6">Login</p>
        <label for="username" class="text-white">Username:</label>
        <input type="text" id="username" name="username" required class="rounded"><br><br>

        <label for="password" class="text-white">Password:</label>
        <input type="password" id="password" name="password" required class="rounded"><br><br>

        <label for="account-type" class="text-white">Account Type:</label>
        <select id="account-type" name="account-type" class="rounded">
            <option value="reader">Reader</option>
            <option value="librarian">Librarian</option>
        </select><br><br>

        <input type="submit" value="Log in" class="rounded" @*asp-area="" asp-page="/ReaderAccount"*@>

    </form>
</div>
<footer>
</footer>